
.input-number {
  text-align: right;
}
/* style vùng grid */

.ms-editable-grid-container {
  position: relative;
  height: auto;
}

.ms-editable-grid-container > .ms-grid {
  position: relative;
  min-height: 100%;
  user-select: none;
}

/* style cho table */

.ms-editable-grid-container  .ms-grid .ms-grid-table {
  width: 100%;
  table-layout: fixed;
  cursor: default;
}

/* style cho row, cell */

/* set sticky cho table header */

.ms-grid .ms-grid-th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 150px;
  height: 42px;
  padding: 0 10px;
  z-index: 2;
  font-size: 13px;
  background-color: #eceef1;
}

.ms-grid .ms-grid-td {
  width: 150px;
  height: 42px;
  padding: 5px 10px;
  font-size: 13px;
  background-color: #ffffff;
}

.ms-grid .ms-grid-th, .ms-grid .ms-grid-td {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px dotted #c7c7c7;
}

.ms-grid .ms-grid-tbody .ms-grid-row:hover .ms-grid-td {
  background-color: #f3f8f8;
}

.ms-grid .ms-grid-tbody .ms-grid-row.active .ms-grid-td {
  background-color: #f8f8f8;
}
.ms-grid .ms-grid-tbody .ms-grid-row.active:hover .ms-grid-td {
  background-color: #f3f8f8;
}

/* fix cột khi grid scroll */

.ms-grid .fixed-left {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.ms-editable-grid-container .ms-grid .outer-left, 
.ms-editable-grid-container .ms-grid .fixed-left, 
.ms-editable-grid-container .ms-grid .outer-right, 
.ms-editable-grid-container .ms-grid .fixed-right {
  z-index: 4;
} 

.ms-grid .ms-combobox-dropdown {
  z-index: 100;
}

/* .ms-grid .ms-grid-td:nth-child(2).fixed-left,
.ms-grid .ms-grid-th:nth-child(2).fixed-left {
  left: 40px;
} */

.ms-grid .fixed-right {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  /* border-left: 1px dotted #c7c7c7;
  border-right: none; */
}

.ms-grid-th.fixed-left, .ms-grid-th.fixed-right {
  z-index: 5;
}

/* style cho cột checkbox */

.ms-grid .grid-checkbox {
  padding: 0 10px;
  width: 40px;
  text-align: center;
}
.ms-grid .row-index, .ms-grid .row-feature {
  width: 40px;
  text-align: center;
}

.ms-grid .row-feature {
  border-left: 1px dotted #c7c7c7;
}




/* summary */
.ms-editable-grid-container .ms-grid-tfoot .ms-grid-th {
  border: none !important;
  background-color: #f8f9fe;
}

/* style cho cột chức năng */

.ms-grid .grid-feature {
  text-align: center;
  width: 120px;
}

.ms-grid .ms-grid-td.grid-feature {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms-grid .feature-item {
  width: 26px;
  cursor: pointer;
  /* border: 1px solid transparent; */
}

.ms-grid .feature-item:hover {
  opacity: 0.6;
}

/* .ms-grid .feature-item:active, .ms-grid .feature-item:focus {
  border: 1px solid #0075c0;
  outline: none;
} */
.ms-grid .feature-item-icon{
  font-size: 13px;
  color: #0075c0;
}



/* editable */
.ms-grid-row.active .ms-editable-cell  .ms-editable-cell-input{
  border: 1px solid #babec5;
  background-color: #fff;
  padding: 6px 10px;
}
.ms-editable-cell:focus-within  .ms-editable-cell-input{
  border: 1px solid #2ca01c !important;

}

.ms-editable-cell-input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 0;
  /* transition: all 0.1s ease-out; */
}

/*  */
.ms-editable-grid-container .ms-editable-cell {
  --ms-input-height: 32px;
}
/* .ms-editable-grid-container .ms-editable-cell:not(.ms-editable-cell-cbx) .ms-input {

} */
.ms-editable-grid-container .ms-grid-row .ms-editable-cell.disabled {
  padding-left: 0;
  padding-right: 0;
}
.ms-editable-grid-container .ms-editable-cell .ms-input:disabled {
  border: none;
  background-color: transparent;
  /* padding-left: 0;
  padding-right: 0; */
}

.ms-editable-grid-container .ms-grid-row:not(.active)  .ms-editable-cell:not(.ms-editable-cell-cbx) .ms-input {
  border: none;
  background-color: transparent;
}
.ms-editable-grid-container .ms-grid-row:not(.active)  .ms-editable-cell-cbx .ms-combobox {
  border: none;
  background-color: transparent;
}
.ms-editable-grid-container .ms-grid-row:not(.active)  .ms-editable-cell-cbx .ms-combobox .ms-input {
  background-color: transparent;
}
.ms-editable-grid-container .ms-grid-row:not(.active)  .ms-editable-cell-cbx .ms-combobox .ms-combobox-btn {
  /* opacity: 0; */
  display: none;
}
.ms-editable-grid-container .ms-editable-cell-cbx .ms-combobox .ms-combobox-dropdown {
  z-index: 3;
}
.ms-editable-grid-container .ms-grid-row:not(.active) .ms-editable-cell {
  padding-left: 0;
  padding-right: 0;
}
.ms-editable-cell {
  overflow: visible !important;
}